[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
halo = "*"
django = "==2.0.8"
django-extensions = "*"
pyyaml = "*"
ua-parser = "*"
user-agents = "*"
django-user-agents = "*"
python-memcached = "*"
django-tinymce = "*"
python-docx = "*"
docx = "*"

[dev-packages]

[requires]
python_version = "3.7"
