[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
halo = "*"
django = "~=3.0"
django-extensions = "*"
pyyaml = "*"
ua-parser = "*"
user-agents = "*"
django-user-agents = "*"
python-memcached = "*"
django-tinymce = "*"
python-docx = "*"
docx = "*"
spotipy = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-allauth = "*"
"django-select2" = "*"
django-seed = "*"

[dev-packages]

[requires]
python_version = "3.8.1"
