{% extends 'songs/base.html' %}
{% load static %}

{% block title %}All songs{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static "songs/song_styles.css" %}">

    <style media="screen">
    
        #btn-song-div {
            position: sticky;
            top: 3.6em;
        }
        @media (max-width: 576px) {
            #table-songs {
                font-size: 70%;
            }
        }

        {{ request.user.settings.song_theme.as_css }}
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'songs:all_songs' %}">Alle sanger</a></li>
{% endblock %}

{% block body %}

        <h1>Alle sanger:</h1>

        <div id="btn-song-div">
            <a class="btn btn-secondary" href="{% url 'songs:add_song' %}">
                <img src="https://img.icons8.com/material-rounded/25/22BB30/plus-math.png">
                Add new Song
            </a>
        </div>

        <form id="filters" action="{% url 'songs:all_songs' %}" method="post">
            {% csrf_token %}
            <div class="row form-group">
                <!-- Search (input) -->
                <div class="col-lg-3">
                    <label class="invisible">Search</label>
                    <div class="input-group">
                        {{ form.search }}
                        <button id="btn-search" class="btn btn-dark" type="button" name="button">Search</button>
                    </div>
                </div> <!-- End: Search (input) -->

                <!-- xxx -->
                <!-- Tag (select) -->
                <div class="col-lg-3">
                    {{ form.tag.label_tag }}
                    {{ form.tag }}
                </div> <!-- End: Tag (select) -->

                <!-- BPM interval -->
                <div class="col-lg-4">
                    <label for="bpm-interval">BPM interval</label>
                    <div class="input-group">
                        <!-- BPM min -->
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                {{ form.check_min }}
                            </div>
                        </div>
                        {{ form.min_bpm }}
                        <!-- End: BPM min -->

                        <!-- BPM max -->
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                {{ form.check_max }}
                            </div>
                        </div>
                        {{ form.max_bpm }}
                        <!-- End: BPM max -->
                    </div>
                </div> <!-- End: BPM interval -->
                <div class="col-lg-2">
                    <label class="invisible">Reset</label>
                    <div class="input-group">
                        <a class="btn btn-secondary" href="{% url 'songs:all_songs' %}">Reset</a>
                    </div>
                </div>
            </div>
        </form>

        <div class="default-theme user-theme">
            <ol>
                {% for song in songs %}
                    <li>
                        <a class="default-theme-link user-theme-link" target="_blank" href="{{ song.spotify_URL }}">{{ song }}</a>
                        <a href="{% url 'songs:edit_song' song.id %}"><img id="edit-pen" src="https://img.icons8.com/material/14/88bb88/edit.png"></a>
                    </li>
                {% endfor %}
            </ol>
        </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {

            $('#btn-search').click(function() {
                $('form').submit();
            })

            $('.search-option').change(function() {
                $('form').submit();
            });

            $('#btn-reset').click(function() {
                $('form').trigger("reset");
            })
        });
    </script>
{% endblock %}
