<!-- Footer -->
<footer id="footer" class="footer">
    <!-- Footer Links -->
    <div class="container text-center text-md-center">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Songs</h5>

                <ul class="list-unstyled">
                    <li><a href="{% url 'songs:all_songs' %}">All songs</a></li>
                    <li><a href="{% url 'songs:add_song' %}">Add song</a></li>
                    <li><a href="{% url 'songs:add_tag' %}">Add tag</a></li>
                    <li><a href="{% url 'songs:bpm_calc' %}">BPM Calculator</a></li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Account</h5>

                <ul class="list-unstyled">
                    <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                <ul class="list-unstyled">
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                <ul class="list-unstyled">
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!-- End: Grid column 4 -->

        </div>
        <!-- End: Grid row -->

    </div>
    <!-- End: Footer Links -->

    <div class="container">
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/NTNUISwingFolkedans/">
                    <img src="https://img.icons8.com/ios-glyphs/60/0065ff/facebook-circled.png">
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com/ntnuiswingogfolkedans/">
                    <img src="https://img.icons8.com/ios/48/e542f4/instagram-new.png">
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/company/ntnui-swing-og-folkedans/">
                    <img src="https://img.icons8.com/ios-glyphs/60/00AAFF/linkedin.png">
                </a>
            </li>
        </ul>
        <!-- Social buttons -->
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> © {% now 'Y' %} Copyright:
        <a href="#"> Emil Telstad</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- End: Footer -->
