<!-- Navbar -->
{% load static %}
<nav style="padding: 0px 0px 0px 20px" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <a style="padding: 0px; margin: 0px 30px 0px 0px" class="navbar-brand" href="{% url 'home' %}">
        <img style="filter: invert(1)" width="150" src="{% static "songs/swing-logo.png" %}" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'info:external' %}">Eksterne kurs</a>
                    <a class="dropdown-item" href="{% url 'info:english' %}">Information in English</a>
                    <a class="dropdown-item" href="{% url 'info:contact' %}">Kontakt oss</a>
                    <a class="dropdown-item" href="{% url 'info:about' %}">Om oss</a>
                    <a class="dropdown-item" href="{% url 'info:hall_times' %}">Treningstider</a>
                    <a class="dropdown-item" href="{% url 'info:faq' %}">FAQ</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'songs:bpm_calc' %}">BPM Calculator</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'songs:all_songs' %}">Songs</a>
            </li>

            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Songs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'songs:all_songs' %}">All Songs</a>
                    <a class="dropdown-item" href="{% url 'songs:bpm_calc' %}">BPM Calculator</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'songs:add_song' %}">Add Song</a>
                    <a class="dropdown-item" href="{% url 'songs:add_tag' %}">Add Tag</a>
                </div>
            </li>
            -->
            {% if request.user.is_authenticated and request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'videos:all_videos' %}">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courses:all_courses' %}">Courses</a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <div class="text-muted">Logged in as:</div>
                <a id="navbar-user" class="text-success" href="{% url 'accounts:profile' %}">{{ user.get_full_name }}</a>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Log in</a>
                </li>
            </ul>
        {% endif %}


    </div>
</nav> <!-- End: navbar -->
