<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">Music Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'songs:bpm_calc' %}">BPM Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'songs:all_songs' %}">Library</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Songs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'songs:all_songs' %}">All Songs</a>
                    <a class="dropdown-item" href="{% url 'songs:bpm_calc' %}">BPM Calculator</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'songs:add_song' %}">Add Song</a>
                    <a class="dropdown-item" href="{% url 'songs:add_tag' %}">Add Tag</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Memes</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <div class="text-muted">Logged in as:</div>
                <a id="navbar-user" class="text-success" href="{% url 'accounts:profile' %}">{{ user.get_full_name }}</a>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Log in</a>
                </li>
            </ul>
        {% endif %}


    </div>
</nav> <!-- End: navbar -->
