{% extends 'songs/base.html' %}
{% block title %}Tag{% endblock %}
{% block head %}
    <style>
        .green-box {
            background: rgba(10,40,40,0.8);
            border-radius: 1em;
            padding: 1em;
        }
        .btn {
            margin-left: 1em;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'songs:add_song_tag' %}">Legg til SangTag</a></li>
{% endblock %}

{% block body %}
    <div class="green-box">

        <h1>SangTag:</h1>

        <form class="form-inline" method="post">
            {% csrf_token %}

            {{ form.navn }}
            {{ form.navn.errors }}
            <button class="btn btn-dark" type="submit">Lagre</button>

        </form>
    </div>
{% endblock %}
