{% extends 'songs/base.html' %}
{% block title %}Edit song{% endblock %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% url 'songs:javascript-catalog' %}"></script>

    {{ form.media }}

    <style media="screen">
        .green-box {
            background: rgba(10,40,40,0.8);
            border-radius: 1em;
            padding: 1em 1em 1em 1em;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'songs:all_songs' %}">Alle sanger</a></li>
    <li class="breadcrumb-item"><a href="{% url 'songs:add_song' %}">Rediger sang</a></li>
{% endblock %}

{% block body %}
    <div class="green-box">
        <h1>Sang</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    {{ form.tittel.label_tag }}
                    {{ form.tittel }}
                    {{ form.tittel.errors }}
                </div>
                <div class="col-md-5 mb-3">
                    {{ form.artist.label_tag }}
                    {{ form.artist }}
                    {{ form.artist.errors }}
                </div>
                <div class="col-md-2 mb-5">
                    {{ form.bpm.label_tag }}
                    {{ form.bpm }}
                    {{ form.bpm.errors }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md mb-3">
                    {{ form.spotify_URL.label_tag }}
                    {{ form.spotify_URL }}
                    {{ form.spotify_URL.errors }}
                </div>
                <div class="col-md mb-3">
                    {{ form.spotify_URI.label_tag }}
                    {{ form.spotify_URI }}
                    <span class="error">{{ form.spotify_URI.errors }}</span>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    {{ form.tags }}
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <button class="btn btn-block btn-dark" type="submit">Lagre</button>
                </div>
                {% if songID %}
                    <div class="col-md-4">
                        <a href="{% url 'songs:delete_song' songID %}" class="btn btn-block btn-danger" type="submit">Slett</a>
                    </div>
                {% endif %}
            </div>
        </form>

    </div>

{% endblock %}
