{% extends 'songs/base.html' %}
{% block title %}Edit song{% endblock %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% url 'songs:javascript-catalog' %}"></script>

    {{ form.media }}

    <link rel="stylesheet" href="{% static "songs/css/song_styles.css" %}">

    <style media="screen">

        {{ request.user.settings.song_theme.as_css }}

    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'songs:all_songs' %}">Alle sanger</a></li>
    <li class="breadcrumb-item"><a href="{% url 'songs:add_song' %}">Rediger sang</a></li>
{% endblock %}

{% block body %}
    <h1>Sang:</h1>

    <div class="default-theme user-theme">

        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    {{ form.tittel.label_tag }}
                    {{ form.tittel }}
                    {{ form.tittel.errors }}
                </div>
                <div class="col-md-5 mb-3">
                    {{ form.artist.label_tag }}
                    {{ form.artist }}
                    {{ form.artist.errors }}
                </div>
                <div class="col-md-2 mb-5">
                    {{ form.bpm.label_tag }}
                    {{ form.bpm }}
                    {{ form.bpm.errors }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md mb-3">
                    {{ form.spotify_URL.label_tag }}
                    {{ form.spotify_URL }}
                    {{ form.spotify_URL.errors }}
                </div>
                <div class="col-md mb-3">
                    {{ form.spotify_URI.label_tag }}
                    {{ form.spotify_URI }}
                    <span class="error">{{ form.spotify_URI.errors }}</span>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    {{ form.tags }}
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <button class="btn btn-block btn-dark" type="submit">Lagre</button>
                </div>
                {% if songID %}
                        <!-- Delete Song (button) -->
                        <button type="button" class="btn btn-block btn-danger col-md-4" data-toggle="modal" data-target="#delete-song">Slett</button>

                        <!-- Delete Song (modal) -->
                        <div class="modal fade text-dark" id="delete-song" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title">Er du helt sikker på at du vil slette sangen?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body"><p>Da blir den borte for alltid :'(</p></div>

                                    <div class="modal-footer">
                                        <!-- Delete Song confirmed (button) -->
                                        <a class="btn btn-danger" href="{% url 'songs:delete_song' songID %}">Slett sang</a>
                                        <!-- Cancel (button) -->
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End: Delete Song (modal) -->
                {% endif %}
            </div>
        </form>

    </div>

{% endblock %}
