{% extends 'songs/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block head %}
    <style media="screen">
        #form {
            max-width: 35em;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'accounts:login' %}">Login</a></li>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        Already logged in
    {% else %}
        <div id="form">

            <h1>Login:</h1>

            <form class="container" method="post">
                {% csrf_token %}
                <div class="text-danger">
                    {{ form.non_field_errors }}
                </div>
                {% for field in form %}
                    <div class="form-group"> <!-- Bootstrap -->
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
        <br>
        <a href="{% url 'accounts:signup' %}">Dont have a user? Sign up here!</a>
    </div>
    {% endif %}
{% endblock %}

{% block scriptblock %}
    <script type="text/javascript">
        $(document).ready(function() {

        })
    </script>
{% endblock %}
