{% extends 'songs/base.html' %}
{% block title %}All courses{% endblock %}
{% block head %}
    <style media="screen">
        #table-courses {
            background: rgba(10,40,40,0.8);
            border-radius: 1em;
            padding: 1em 1em 1em 1em;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'courses:all_courses' %}">All courses</a></li>
{% endblock %}

{% block body %}

        <h1>All courses:</h1>

        <div id="table-courses">
            <ol id="all-courses">
                {% for course in courses %}
                    <li>
                        <a class="text-success" href="{% url 'courses:course_view' course.id %}">{{ course }}</a>
                        <a href="{% url 'courses:edit_course' course.id %}"><img id="edit-pen" src="https://img.icons8.com/material/14/88bb88/edit.png"></a>
                    </li>
                {% endfor %}
            </ol>
        </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
{% endblock %}
