{% extends 'songs/base.html' %}
{% block title %}Add course{% endblock %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% url 'songs:javascript-catalog' %}"></script>

{{ form.media }}
<style media="screen">
    .section {
        background-color: rgba(100, 180, 160, 0.5);
        padding-top: 0.5em;
        padding-bottom: 3em;
        margin-bottom: 0.5em;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'courses:add_course' %}">Edit course</a></li>
{% endblock %}

{% block body %}
<h1>Add course</h1>

<form method="post">
    {% csrf_token %}

    <div id="courseForm">
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ courseForm.title.label }}
                {{ courseForm.title }}
            </div>
            <div class="form-group col-md-1">
                {{ courseForm.start.label }}
                {{ courseForm.start }}
            </div>
            <div class="form-group col-md-1">
                {{ courseForm.end.label }}
                {{ courseForm.end }}
            </div>
            <div class="form-group col-md-5">
                {{ courseForm.place.label }}
                {{ courseForm.place }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                {{ courseForm.male_instructor.label }}
                {{ courseForm.male_instructor }}
            </div>
            <div class="form-group col-md-4">
                {{ courseForm.female_instructor.label }}
                {{ courseForm.female_instructor }}
            </div>
        </div>
    </div>

    <br>

    <div id="dynamic-sections">

        <input id="sectionCount" type="hidden" readonly name="sectionCount" value="{{ sectionForms | length }}">

        <div id="sectionFormTemplate" class="d-none">
            <div class="jumbotron section">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ sectionFormTemplate.title.label }}
                        {{ sectionFormTemplate.title }}
                    </div>
                    <div class="form-group col-md-1">
                        {{ sectionFormTemplate.start.label }}
                        {{ sectionFormTemplate.start }}
                    </div>
                    <div class="form-group col-md-1">
                        {{ sectionFormTemplate.duration.label }}
                        {{ sectionFormTemplate.duration }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ sectionFormTemplate.song.label }}
                        {{ sectionFormTemplate.song }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ sectionFormTemplate.video.label }}
                        {{ sectionFormTemplate.video }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        {{ sectionFormTemplate.text.label }}
                        {{ sectionFormTemplate.text }}
                    </div>
                </div>
                <button class="btn btn-danger float-right" onclick="removeSection(this)" type="button" name="button" >
                    <img src="https://img.icons8.com/material-sharp/24/000000/minus.png">
                    Remove
                </button>
            </div>
        </div>

        {% for sectionForm in sectionForms %}

            <div class="jumbotron section">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ sectionForm.title.label }}
                        {{ sectionForm.title }}
                    </div>
                    <div class="form-group col-md-1">
                        {{ sectionForm.start.label }}
                        {{ sectionForm.start }}
                    </div>
                    <div class="form-group col-md-1">
                        {{ sectionForm.duration.label }}
                        {{ sectionForm.duration }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ sectionForm.song.label }}
                        {{ sectionForm.song }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ sectionForm.video.label }}
                        {{ sectionForm.video }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        {{ sectionForm.text.label }}
                        {{ sectionForm.text }}
                    </div>
                </div>
                <button class="btn btn-danger float-right" onclick="removeSection(this)" type="button" name="button" >
                    <img src="https://img.icons8.com/material-sharp/24/000000/minus.png">
                    Remove
                </button>
            </div>
        {% endfor %}

    </div>

    <button class="btn btn-secondary" id="btn-add-section" type="button" name="button" >
        <img src="https://img.icons8.com/material-rounded/25/22BB30/plus-math.png">
        New section
    </button>

    <br>
    <br>

    <button class="btn btn-block btn-dark" type="submit">Save</button>
</form>

{% endblock %}

{% block script %}
    <script type="text/javascript">

        function removeSection(element) {
            console.log(element)
            $("#sectionCount").val( +$("#sectionCount").val() - 1);
            $(element).parent()[0].remove()

        }

        var sectionFormTemplate = $("#sectionFormTemplate").html()
        $("#sectionFormTemplate").remove()

        $(document).ready(function() {

            $("#btn-add-section").click(function() {
                $("#sectionCount").val( +$("#sectionCount").val() + 1)
                $("#dynamic-sections").append( sectionFormTemplate.replace(/template/g, $("#sectionCount").val()) )
            })


        })
    </script>
{% endblock script %}
