{% extends 'songs/base.html' %}
{% block title %}Tag{% endblock %}
{% block head %}
    <style>
        .red-box {
            background: rgba(200,0,100,0.2);
            border-radius: 1em;
            padding: 1em;
        }
        .btn {
            margin-left: 1em;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'videos:add_video_tag' %}">Legg til VideoTag</a></li>
{% endblock %}

{% block body %}
    <div class="red-box">

        <h1>VideoTag:</h1>

        <form class="form-inline" method="post">
            {% csrf_token %}

            {{ form.navn }}
            {{ form.navn.errors }}
            <button class="btn btn-dark" type="submit">Lagre</button>

        </form>
    </div>
{% endblock %}
