{% extends 'songs/base.html' %}
{% block title %}Add/edit video{% endblock %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% url 'songs:javascript-catalog' %}"></script>

    {{ form.media }}
    <style media="screen">
    .red-box {
        background: rgba(200,0,100,0.2);
        border-radius: 1em;
        padding: 1em;
    }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'videos:all_videos' %}">Turbibliotek</a></li>
    <li class="breadcrumb-item"><a href="{% url 'videos:add_video' %}">Rediger Video</a></li>
{% endblock %}

{% block body %}
    <div class="red-box">
        <h1>Rediger Video</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-9 mb-3">
                    {{ form.navn.label_tag }}
                    {{ form.navn }}
                    {{ form.navn.errors }}
                </div>
            </div>
            <div class="form-row">

            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form.youtube_URL.label_tag }}
                    {{ form.youtube_URL }}
                    {{ form.youtube_URL.errors }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.vanskelighetsgrad.label_tag }}
                    {{ form.vanskelighetsgrad }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-5">
                    {{ form.beskrivelse.label_tag }}
                    {{ form.beskrivelse }}
                    {{ form.beskrivelse.errors }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.fokuspunkt.label_tag }}
                    {{ form.fokuspunkt }}
                    {{ form.fokuspunkt.errors }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    {{ form.tags }}
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <button class="btn btn-block btn-dark" type="submit">Lagre</button>
                </div>
                {% if videoID %}
                    <div class="col-md-4">
                        <a href="{% url 'videos:delete_video' videoID %}" class="btn btn-block btn-danger" type="submit">Slett</a>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}
